In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import model_from_json

In [2]:
# load json and create model

sc = MinMaxScaler()

json_file = open('classifier.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [5]:
X = pd.read_csv('test.csv')
X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1.0,4583,1508.0,128000,360.0,1.0,0,1,0,1,1,0,1,0,1,0,0
1,0.0,3000,0.0,66000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
2,0.0,2583,2358.0,120000,360.0,1.0,0,1,0,1,0,1,1,0,0,0,1
3,0.0,6000,0.0,141000,360.0,1.0,0,1,1,0,1,0,1,0,0,0,1
4,2.0,5417,4196.0,267000,360.0,1.0,0,1,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,0.0,2900,0.0,71000,360.0,1.0,1,0,1,0,1,0,1,0,1,0,0
476,3.0,4106,0.0,40000,180.0,1.0,0,1,0,1,1,0,1,0,1,0,0
477,1.0,8072,240.0,253000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
478,2.0,7583,0.0,187000,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
479,0.0,4583,0.0,133000,360.0,0.0,1,0,1,0,1,0,0,1,0,1,0

In [4]:
X_test = sc.fit_transform(X)
X_test

array([[0.33333333, 0.05482993, 0.0445666 , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.03525046, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.        , 0.03009276, 0.06968703, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.33333333, 0.09798392, 0.00709283, ..., 0.        , 0.        ,
        1.        ],
       [0.66666667, 0.09193568, 0.        , ..., 0.        , 0.        ,
        1.        ],
       [0.        , 0.05482993, 0.        , ..., 0.        , 1.        ,
        0.        ]])